{
  "rules": {
    "max-len": ["error", 200],
    "import/no-named-as-default": 0,
    "semi": ["error", "never"],
    "no-param-reassign" : ["warn"],
    "one-var": "off", // ["warn", "never"],
    "no-nested-ternary": "off",
    "no-plusplus": "off",
    "no-unused-vars": "warn",
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    // TODO: turn on later
    "comma-dangle": [
      0
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-underscore-dangle": [
      0
    ]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ]
}
